body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

.container {
    display: grid;
    grid-template-rows: 90px 93.2%;
    font-family: "Open Sans", Helvetica, sans-serif;
    height: 100%;
}

    .header {
        display: grid;
        background-color: rgb(255, 224, 205);
        align-content: center;
        justify-content: center;
    }

        .logo {
            display: grid;
            grid-template-columns: 70px 130px;
            align-content: center;
            font-size: 34px;
            font-weight: bold;
            color: #143c79;
            letter-spacing: -.8px;
            width: 185px;
        }

        .logoText {
            display: grid;
            align-items: center;
        }

        .ionicon {
            display: grid;
            font-size: 34px;
            height: 60px; 
            width: 60px;
        }

    .content {
        background-color: #e4e9ec;
        box-shadow: inset 0px 5px 7px -7px rgb(70, 70, 70);
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 30px;
    }

    .buttonContainer {
        display: grid;
        justify-content: center;

    }

        .bookButton {
              align-items: center;
              background-color: #fff;
              border: 2px solid #143c79;
              box-sizing: border-box;
              color: #143c79;
              display: inline-flex;
              fill: #143c79;
              font-family: Inter,sans-serif;
              font-size: 16px;
              font-weight: 600;
              height: 48px;
              justify-content: center;
              letter-spacing: -.8px;
              line-height: 24px;
              min-width: 140px;
              outline: 0;
              padding: 0 17px;
              text-align: center;
              text-decoration: none;
              transition: all .3s;
              touch-action: manipulation;
              border-radius: 3px;
            }
            
            .bookButton:focus {
              color: #143c79;
            }
            
            .bookButton:hover {
              border-color: #548fd3;
              color: #548fd3;
              fill: #548fd3;
            }
            
            .bookButton:active {
            background-color: #548fd3;
            color: #548fd3;
            fill: #548fd3;
            }
            
            @media (min-width: 768px) {
              .bookButton {
                min-width: 170px;
              }
            }

            .form-popup {
                display: grid;
                position:relative;
                margin-top: 20px;
                justify-content: center;
              }            

                .legend {
                    font-weight: bold;
                    margin-top: -10px;
                    height: 20px;
                }

                    .closeButton {
                        display: grid;
                        position: relative;
                        height: 20px;
                        left: 230px;
                        bottom: 28px;
                    }

                .form-container {
                    height: 165px;
                    width: 248px;
                    padding: 10px;
                    display: grid;
                    align-items: center;
                    align-content: center;
                    background-color: #ffffff;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                    border-radius: 5px;
                    gap: 5px;
                    font-size: 11px;
                }

                    .authorSection, .titleSection, .pgNoSection, .completeBoxSection {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        gap: 5px;
                        justify-content: space-between;
                    }

                    .titleInput {
                        width: 208px;
                    }

                    input {
                        font-size: 11px;
                    }

                    .submitContainer {
                        display: grid;
                        justify-content: center;
                    }

                    .submitButton {
                        align-items: center;
                        background-color: #fff;
                        border: 2px solid #143c79;
                        box-sizing: border-box;
                        color: #143c79;
                        display: inline-flex;
                        fill: #143c79;
                        font-family: Inter,sans-serif;
                        font-weight: 600;
                        height: 28px;
                        justify-content: center;
                        padding: 0 17px;
                        text-align: center;
                        text-decoration: none;
                        transition: all .3s;
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                        border-radius: 3px;
                        margin-bottom: -10px;
                    }

                    .submitButton:focus {
                        color: #143c79;
                    }
                      
                      .submitButton:hover {
                        border-color: #548fd3;
                        color: #548fd3;
                        fill: #548fd3;
                    }
                      
                    .submitButton:active {
                      background-color: #548fd3;
                      color: #548fd3;
                      fill: #548fd3;
                    }   

        .cards {
            display: grid;
            align-content: flex-start;
            justify-content: space-evenly;
            grid-template-columns: repeat(auto-fill, 300px);
            gap: 25px;
            margin-top: 25px;
            font-size: 11px;
        }

            #card0, .card1, .card2, .card3, #card4 {
                height: 140px;
                background-color: #ffffff;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                border-radius: 5px;
                grid-template-columns: 10px 12fr;
            }

            #card0 {
                display: none;
            }

            #card1 {
                display: none;
            }

            #card2 {
                display: none;
            }

            #card3 {
                display: none;
            }

            .card4 {
                display: none;
            }

                .cardColumnLeft {
                    background-color: #143c79;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .contentColumnRight {
                    display: grid;
                    height: 95%;
                    grid-template-columns: 5fr 1fr;

                }

                    .upperColumn {
                        display: inline-grid;
                        align-items: center;
                        align-content: center;
                        grid-template-rows: 20px 20px 20px 20px;
                    }                   

                        .titleTextCont, .authorTextCont, .pageTextCont, .completed {
                            padding-left: 10px;
                            display: flex;

                        }

                        .pageNumber, .bookAuthor, .bookTitle {
                            padding-left: 4px;
                        }

                        .completed {
                            display: grid;
                            grid-template-columns: 1fr 3fr;
                            align-items: center;
                            gap: 5px;
                        }

                            .completedBox {
                                border-radius: 5px;
                                height: 15px;
                                width: 15px;
                                background-color: #143c79;
                            }

                            .completedBox:active {
                                background-color: #548fd3;
                            }

                    .lowerColumn {
                        display: grid;
                        justify-content: right;
                        align-items: flex-end;
                    }

                        .trashButton {
                            height: 25px;
                            margin-right: 6px;
                            border-radius: 4px;
                        }
                          
                        .trashButton:active {
                            background-color: #548fd3;
                        }